.currency-card {
  position: relative;
  background-color: var(--clr-ui);
  padding: 0.8em 0.5em;
  border: 2px solid transparent;
  border-radius: $radius;
  box-shadow: $shadow-sm;
  user-select: none;

  &[data-dragging] {
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
  }

  &[data-dragging-clone] {
    position: absolute;
    top: var(--top, 0);
    left: var(--left, 0);
    width: 100%;
    max-width: var(--max-width, 0);
    opacity: 0.8;
    transform: rotate(1deg);
    transform-origin: bottom right;
    transition: opacity $transition, transform $transition;
  }

  &[data-dragging-clone] &__drag-n-drop-anchor {
    color: $clr-accent;
  }

  &:focus-within,
  &[data-is-base-currency=true] {
    border-color: var(--clr-text);
  }

  &[data-is-base-currency=true]:not(:focus-within) {
    border-style: dashed;
  }

  &__amount-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 0.5em;
  }

  &__label {
    font-weight: $fw-bold;
  }

  &__input {
    color: var(--clr-text);
    background-color: var(--clr-bg-ui);
    padding: 0.3em;
    border: 2px solid var(--clr-ui-hover);
    border-radius: $radius-input;
    outline: none;
    transition: $transition;

    &:focus {
      border-color: var(--clr-text);
    }
  }

  &__rate-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2em;
    padding-right: 1em;

    @media (max-width: 430px), (min-width: 650px) and (max-width: 835px) {
      flex-direction: column;
    }
  }

  &__rate {
   font-weight: $fw-bold;
   margin-right: 0.3em;
  }

  &__value {
    white-space: nowrap;
  }

  &__delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    width: 1.1em;
    height: 1.1em;
    font-size: $fs-lg;
    font-weight: $fw-bold;
    line-height: 1;
    color: var(--clr-text);
    background: none;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    transition: $transition;
    cursor: pointer;

    &:disabled {
      display: none;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: $clr-warning;
      }
    }

    &:focus-visible {
      color: $clr-warning;
      border-color: $clr-warning;
    }
  }

  &__drag-n-drop-anchor {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0.1em;
    right: 0.1em;
    width: 1.1em;
    height: 1.1em;
    font-size: $fs-lg;
    font-weight: $fw-bold;
    line-height: 1;
    color: var(--clr-text);
    cursor: grab;
    transition: color $transition;

    &::before,
    &::after {
      content: '-';
      position: absolute;
    }

    &::before {
      top: -0.2em;
    }

    &::after {
      top: 0.2em;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: $clr-accent;
      }
    }
  }
}