::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.2rem;
  background-color: $clr-gray-blue-50;
}

::-webkit-scrollbar-thumb {
  background-color: $clr-gray-blue-300;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
  display: none;
}

* {
  scrollbar-color: $clr-gray-blue-300 $clr-gray-blue-50;
  scrollbar-width: thin;
}