.snack-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: Min(350px, 90vw);
  position: fixed;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 $radius $radius;
  background-color: var(--clr-ui);
  padding: 1.2em 0.7em;
  transition: 0.6s;
  z-index: 50;
  box-shadow: $shadow-sm;
  cursor: pointer;

  &__text {
    color: var(--clr-text);
    line-height: 1.1;
    text-align: center;
  }

  &--active {
    top: 0;
  }
}