.spinner {
  display: none;

  &--active {
    $spiner-size: 60px;

    display: block;
    width: $spiner-size;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -$spiner-size / 2 0 0 -$spiner-size / 2;
    animation: rotate 2s linear infinite;
  }

  &--active .path {
    stroke: var(--clr-text);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}