@import './styles/normalize';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600&display=swap');
@import './styles/commonVariables';

*,
*::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body[data-theme-type='light'] {
  --clr-text: #{$clr-gray-blue-400};
  --clr-bg: #{$clr-gray-blue-100};
  --clr-bg-ui: #{$clr-white};
  --clr-ui: #{$clr-gray-blue-200};
  --clr-ui-hover: #{$clr-blue-300};
}

body[data-theme-type='dark'] {
  --clr-text: #{$clr-gray-blue-200};
  --clr-bg: #{$clr-blue-800};
  --clr-bg-ui: #{$clr-blue-500};
  --clr-ui: #{$clr-gray-blue-400};
  --clr-ui-hover: #{$clr-gray-blue-300};
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: $family;
  font-size: $fs-md;
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

.header {
  width: 100%;
  background-color: var(--clr-bg-ui);
  padding-inline: $vertical-padding;
  box-shadow: $shadow-sm;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    max-width: $content-max-width;
    margin-inline: auto;
  }

  &__title {
    font-size: clamp($fs-lg, 5vw, $fs-xl);
    line-height: 1.1;
    padding-block: 0.5em;
    margin: 0;
  }
}

.main {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 0.5em;

}

.calculator {
  width: 100%;
  max-width: $content-max-width;
  border: 2px solid var(--clr-ui-hover);
  border-radius: $radius;
  padding: 0.5em;

  &__currencies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 0.6em;
    padding-block: 0.5em;
    list-style: none;
  }

  &__currency {
    position: relative;
    background-color: var(--clr-ui);
    padding: 0.8em 0.5em;
    border: 2px solid transparent;
    border-radius: $radius;
    box-shadow: $shadow-sm;

    &:focus-within {
      border-color: var(--clr-text);
    }
  }

  &__amount-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-weight: $fw-bold;
    margin-bottom: 0.5em;
  }

  &__amount-input {
    color: var(--clr-text);
    background-color: var(--clr-bg-ui);
    padding: 0.3em;
    border: 2px solid var(--clr-ui-hover);
    border-radius: $radius-input;
    outline: none;
    transition: $transition;
  }

  &__amount-input:focus {
    border-color: var(--clr-text);
  }

  &__currency-rate {
   font-weight: $fw-bold;
   margin-right: 0.3em;
  }

  &__currency-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    width: 1.1em;
    height: 1.1em;
    font-size: $fs-lg;
    font-weight: $fw-bold;
    line-height: 1;
    color: var(--clr-text);
    background: none;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
    transition: $transition;
    cursor: pointer;

    &:disabled {
      display: none;
    }

    &:hover {
      @media (hover: hover) and (pointer: fine) {
        color: $clr-warning;
      }
    }

    &:focus-visible {
      color: $clr-warning;
      border-color: $clr-warning;
    }
  }
}

.footer {
  width: 100%;
  background-color: var(--clr-bg-ui);
  box-shadow: $shadow-negative-sm;
  padding-block: 0.6em;
  text-align: center;

  &__copyright {
    line-height: 1.1;
  }
}

@import './styles/spinner';
@import './styles/snackBar';
@import './styles/themeSwitcher';
@import './styles/datePicker';